* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.control{
    background-color: lightgray;
    width: 100vmin;
    height: 10vmin;
    padding: 0.5% 2% ;
    font-family:  cursive;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    font-size: 18px; 
    /* flex-direction: column; */
}
 .control div{
    display: flex;
    flex-direction: column;
    align-items: center;
}/*
.control div .expantion , .control div .speed{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}  */
.control input{
    outline: none;
    font-size: 15px;
    width: 100px;
    background-color: whitesmoke;
    text-align: center;
    
}
.game-board {
  background-color: lightgray;
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
  border: 30px solid red;
  border-image: url("./img1.jpg") round;
  border-image-slice: 30;
  border-image-width: 30px 30px;
  position: relative;
}

.lose {
  height: 30vmin;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: aliceblue;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 4rem;
  /* padding: 13%; */
  letter-spacing: 5px;
  font-family: "Creepster", cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.restart-btn {
  font-size: 2rem;
  background-color: white;
  width: fit-content;
  cursor: pointer;
  padding: 3px 10px;
  border-radius: 5px;
}
.restart-btn:hover {
  /* background-color: rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 0px 8px 1px white;
}
.snake {
  background-color: blue;
  border: 0.25vmin solid black;
}
.food {
  /* background-color: green; */
  /* border: 0.25vmin solid black; */
  position: relative;
  background-image: url("/food1.png");
  background-position: center;
  background-size: cover;
}
/* .food::after {
  content: "\f121";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
} */
